<h1>Nations</h1>
<%= link_to "New Nation", "/nations/new" %>
<% @nations.each do |nation| %>
  <p><%= nation.name %>: <%= nation.created_at %> <%= link_to "Update #{nation.name}", "/nations/#{nation.id}/edit" %></p>
<% end %>