<h1>Make new Nation</h1>
<%= form_with url: '/nations', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Create Nation" %>
<% end %>